title: How Is Model Formed?
tagline: truly sorry for your loss
author: downscore
url: "https://downscore.github.io"
baseurl: ""

# Build settings
markdown: kramdown
highlighter: rouge

kramdown:
  math_engine: mathjax

# Permalinks
permalink: /:year/:month/:day/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

# Exclude from build
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
